<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- {{posts}}

    {% for post in posts %}

        {% if post.status == 1 %}
        <p>THE POST NOT PUBLISHED YET</p>
        {%else%}
        <h1>{{post.title}}</h1>
        <p>{{post.content}}</p>
        <small>{{post.published_date}}</small>
        {% endif %}

    {% endfor %} -->



    <!-- <p>{{name}}</p>
    <p>{{famili_name}}</p> -->


    <p>{{post.title}}</p>

</body>

</html>